body {
    background-color:beige;
}

h1 {
    color: #751796;
    font-family: "Montserrat", sans-serif;
}

.headerfooter {
    background-color:#B6F9EE;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:5px;
    padding: 5px;
}
.bodycontent{
    display: grid;
    grid-template-columns: 3fr 1fr;
}